*{
    --color1: #3B3B53;;
    --color2: #A3A0FB;
    --colorBlanco:#FFFFFF;
    --colorRojo: #FF6565;
    --colorAzul:#3B86FF;
    --bgColor:#F0F0F7;
    --colorFontGeneral:#4D4F5C;
}

/*--------PAGINA PRODUCTO---------*/
.content .product{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 15px;
}

/*---SECCION IMAGEN----------*/
.content .product .productSlide{
    height: 34em;
    text-align: center;
}
.content .product .productSlide .productSlideImg{
    width: 100%;
    margin-bottom: 10px;
    position: relative;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorBlanco);
}
.content .product .productSlide .productSlideImg .contetImg{
    width: 70%;
    height: 500px;    
}
.content .product .productSlide .productSlideImg img{
    width: 100%;
    height: 100%;
}
.content .product .productSlide .productSlideImg i{
    color: var(--color1);
    opacity: .5;
    font-size: 5em;
    position: absolute;
    top: 45%;
    transition: all ease .25s;
}
.content .product .productSlide .productSlideImg i.fa-angle-left{
    left: 0;
}
.content .product .productSlide .productSlideImg i.fa-angle-right{
    right: 0;
}
.content .product .productSlide .productSlideImg i:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, .1);
}
/*---SECCION PRODUCTO----*/

.content .product .productInfo{
    padding: 10px 50px 10px 10px;
}
.content .product .productInfo>h2{
    font-weight: 700;
    font-size: 22pt;
    margin-bottom: 20px;
}
.content .product .productInfo>h3{
    color: var(--colorFontGeneral);
    opacity: .7;
    font-weight: normal;
    margin-bottom: 20px;
}
.content .product .productInfo>p{
    color: var(--colorFontGeneral);
    opacity: .5;
    margin-bottom: 4em;
}
.content .product .productInfo>span{
    font-size: 20pt;
    color: var(--colorFontGeneral);
    font-weight: 600;
    margin-bottom: 10px;
}
.content .product .productInfo .dataStore{
    display: flex;
    justify-content: space-between; 
}
.content .product .productInfo .dataStore label{
    color: var(--colorFontGeneral);
    opacity: .7;
    font-weight: normal;
    margin-bottom: 20px;
    margin-right: 5px;
}
.content .product .productInfo .dataStore p{
    display: flex;
    align-items: center;
    color: #3B3B53;
    font-size: 1em;
}
.content .product .productInfo .dataStore p span{
    color: var(--colorFontGeneral);
    opacity: .7;
    font-weight: normal;
    margin-right: 5px;
    font-size: 1em;
}
.content .product .productInfo span:hover{
    cursor: text;
}
.content .product .productInfo .productPrice{
    color: var(--colorFontGeneral);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px;

}
.content .product .productInfo .productPrice p{
    display: flex;
    align-items: center;
    font-size: 1em;
}
.content .product .productInfo .productPrice span{
    color: var(--colorFontGeneral);
    font-weight: 700;
    font-size: 1em;
    margin-right: 5px;
}
.content .product .productInfo .productBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .product .productInfo .productBtns button{
    padding: 10px 15px;
    background-color: var(--colorAzul);
}
.content .product .productInfo .productBtns button:hover{
    background-color: #79ACFF;
}
.content .product .productInfo .productBtns button:active{
    background-color: #1062E5;
}
.content .product .productInfo .productBtns button i{
    font-size: 13pt;
    color: var(--colorBlanco);
}.content .product .productInfo .productBtns button i:hover{
    color: var(--colorBlanco);
}
.content .product .productInfo .productBtns i{
    font-size: 25pt;
    color: var(--colorAzul);
    margin-left: 10px;
}
.content .product .productInfo .productBtns i:hover{
    cursor: pointer;
    color: #1062E5;
}
.content .product .productInfo .productBtns .valoration{
    display: flex;
    align-items: center;
}
.content .product .productInfo .productBtns .valoration span{
    font-size: 1.5em;
    color: var(--colorFontGeneral);
    margin-left: 10px;
}
.content .product .productInfo .productBtns .valoration .clasificacion {
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 1.5em;
  }
  
  .content .product .productInfo .productBtns .valoration .clasificacion input {
    position: absolute;
    top: -100px;  
  }
  
  .content .product .productInfo .productBtns .valoration .clasificacion label {
    float: right;
    color: rgb(119, 193, 236);
  }
  
  .content .product .productInfo .productBtns .valoration .clasificacion label:hover,
  .content .product .productInfo .productBtns .valoration .clasificacion label:hover ~ label,
  .content .product .productInfo .productBtns .valoration .clasificacion input:checked ~ label {
    color: var(--colorAzul);
    }
/*------FORM-------*/

.content .form form .nombres input{
    margin-right: 10px;
}
.content .form form .remember{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 25px;
}
.content .form form .remember input{
    width: 100%;
    margin-bottom: 0px;
}
.content .form form .remember label{
    font-size: .9em;
    width: 100%;
    margin-left: 5px;
    text-align: left;
}
.content .form form a{
    text-decoration: none;
    color: var(--colorAzul);
}
.content>h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--colorBtns);
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 1.5em;
}
/*--------SHOPPING CART---------*/
.content .product .cart{
    overflow: scroll;
}
.content .product .cart article{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
}
.content .product .cart article .cartImg{
    width: 17em;
    margin-right: 10px;
    
}
.content .product .cart article .cartImg img{
    width: 10em;
    margin: 0;
}
.content .product .cart article .cartDescription{
    text-align: left;
    color: var(--colorFontGeneral);
}
.content .product .cart article .cartDescription h2{
    color: #43425D;
}
.content .product .cart article .cartDescription h3{
    opacity: .7;
    font-weight: normal;
    font-size: 1.2em;
}
.content .product .cart article .cartDescription p{
    opacity: .5;
    font-size: .9em;
    margin-bottom: 10px;
    overflow: hidden;
}
.content .product .cart article .cartDescription span{
    color: var(--colorAzul);
    font-size: 1.1em;
}
.content .product .cart article .cartDescription .inf{
    display: flex;
    justify-content: space-between;
}
.content .product .cart article .cartDescription .inf div{
    display: flex;
    align-items: center;
}
.content .product .cart article>span{
    color: var(--colorFontGeneral);
    font-size: 2em;
    font-weight: 600;
    margin-left: 10px;
}
.content .product .cart article span:hover{
    cursor: text;
}
.content .product .cart article>i{
    color: var(--colorAzul);
    font-size: 1.5em;
    position: absolute;
    top: .4em;
    right: .4em;
    transition: all ease .5s;
}
.content .product .cart article>i:hover{
    cursor: pointer;
    color: var(--colorRojo);
}
/*-------FACTURA-------*/
.content .product .bill .billInfo{
    background-color: var(--colorBlanco);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--colorFontGeneral);
    margin-bottom: 20px;
}
.content .product .bill .billInfo h2{
    color: var(--color1);
    margin-bottom: 15px;
}
.content .product .bill .billInfo span{
    color: var(--colorFontGeneral);
    margin-top: 10px;
    margin-bottom: -20px;
    opacity: .5;
}
.content .product .bill .billInfo .data{
    margin-bottom: 10px;
}
/*------------DETALLE FACTURA---------------*/
.content .product .bill .buydetall{
    background-color: var(--colorBlanco);
    padding: 15px;
}
.content .product .bill .buydetall h2{
    color: var(--color1);
}
.content .product .bill .buydetall .price p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
}
.content .product .bill .buydetall .price span{
    color: var(--colorFontGeneral);
    font-weight: 700;
    font-size: 1em;
    margin-right: 5px;
}
.content .product .bill .buydetall .btns{
    text-align: center;
    margin-top: 20px;
}

#floatWindow .form{
    width: 500px;
    height: 80%;
    margin: 0;
}
#floatWindow .form form{
    width: 100%;
    height: 100%;
    padding: 20px 15px;
}
#floatWindow .form form .nombres{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}
#floatWindow .contentWindow .confirmVtn{
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#floatWindow .contentWindow .confirmVtn h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--colorBtns);
    font-size: 1.5em;
    margin-bottom: 5px;
}
#floatWindow .contentWindow .confirmVtn p{
    color: var(--colorFontGeneral);
    opacity: .5;
}
#floatWindow .contentWindow .confirmVtn i{
    position: relative;
    font-size: 4em;
    opacity: .7;
    text-align: center;
    padding: 0;
    left: 0;
    right: 0;
    margin: 15px 0;
}
#floatWindow .contentWindow .confirmVtn i.fa-check-circle{
    color: #69E4A6;
}
#floatWindow .contentWindow .confirmVtn i.fa-times-circle{
    color: var(--colorRojo);
}

#floatWindow .contentWindow .confirmVtn i:hover{
    cursor: text;
}
#floatWindow .contentWindow .confirmVtn .btns{
    margin-top: 25px;
    color: var(--colorAzul);
    font-size: 1.2em;
    text-transform: uppercase;
}
#floatWindow .contentWindow .confirmVtn .btns input:last-child{
    color: var(--colorFontGeneral);
    background-color: var(--colorBlanco);
    border: 1px solid var(--colorFontGeneral);
    margin-left: 15px;
}
#floatWindow .contentWindow .confirmVtn .btns input:last-child:hover{
    background-color: var(--bgColor);
}

body .cartAdd{
    width: 100%;
    height: 50px;
    background-color: #69E4A6;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
body .cartAdd p{
    color: var(--colorFontGeneral);
}
body .cartAdd i{
    color: var(--colorRojo);
    margin-left: 15px;
    font-size: 1.3em;
}
#errorCPass{
    color: #FF6565;
}
/* 
td {
	padding-top: 10px;
	padding-right: 15px;
}

h1{
	text-align: center;
	color:black;
}
#btn {
	display: inline-block;
    text-align: center;

}
#form {
    display: inline-block;
    text-align: center;
}
body {
    
    text-align: center;
} */