*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color1: #3B3B53;
    --color2: #A3A0FB;
    --colorBlanco:#FFFFFF;
    --colorRojo: #FF6565;
    --colorAzul:#3B86FF;
    --bgColor:#F0F0F7;
    --colorDark:#4D4F5C;
    --colorBtns:#43425D;
}
.content{
    width: 90%;
    margin: auto;
}
body{
    background-color: var(--bgColor);
    font-family: 'Source Sans Pro', sans-serif;
}

/*-----HEADER-----------*/
body header{
    width: 100%;
    background-color: var(--color1);
}body header li{
    list-style: none;
}
body header a,span,i{
    display: block;
    text-decoration: none;
    color: var(--colorBlanco);
    font-size: .9em;
    padding: 5px;
}
body header i.fa-apple{
    font-size: 1.5em;
}
body header i.fa-apple:hover{
    color: var(--color2);
    cursor: pointer;
}
body header i.fa-shopping-cart{
    font-size: 1.3em;
}
body header i.fa-shopping-cart:hover{
    color: var(--color2);
    cursor: pointer;
}
body header i.fa-heart{
    font-size: 1.3em;
}
body header i.fa-heart:hover{
    color: var(--colorRojo);
    cursor: pointer;
}

body header a:hover,span:hover{
    color: var(--color2);
    cursor: pointer;
}
body header i{
    color: var(--colorBlanco);
    font-size: 25px;
}
body header .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*------------MENU-----------------*/
body header .content .menu ul li i{
    font-size: .7em;
    margin-left: -4px;
}
body header .content .menu ul{
    display: flex;
    
}
body header .content .menu>ul>li{
    position: relative;
    float: left;
    padding: 10px 0;
    display: flex;
    align-items: center;
}
body header .content .menu ul ul{
    display: none;
    position: absolute;
    padding: 0;
    background-color: var(--colorBlanco);
    /* box-shadow: 1px 1px 10px 0px #000; */
    border-radius: 3px;
    width: 12em;   
    z-index: 100;
    top: 48px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,.1);
}
body header .content .menu ul ul:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-width: 0 8px 13px;
    border-style: solid;
    border-color: transparent transparent var(--colorBlanco);
}

body header .content .menu ul ul li{ 
    float: none;
    border-bottom: 1px solid var(--bgColor);
}
body header .content .menu ul ul li:last-child{
    border: none;
}
body header .content .menu ul li ul li a:hover{
    color: var(--color2);
}
body header .content .menu ul ul a{
    line-height: 120%;
    padding: 10px 15px;
    color:#404040;
}
body header .content .menu ul ul a:hover{
    color: ver(--color2);
}
body header .content .menu ul li:hover>ul{
    display: block;
}
/*-------------SEARCH BAR--------------------*/
header .content .search{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .content .search .barSearch{
    position: relative;
}
header .content .search .barSearch input{
    padding: .7em 3.5em;
    border-radius: 20px;
    width: 25em;
    border: none;
    background-color: var(--colorBlanco);
}
header .content .search .barSearch i{
    color: var(--color1);
    opacity: .5;
    position: absolute;
    left: 5px;
    top: 3px;
    font-size: 1.3em;
}
header .content .sessionItems{
    display: flex;
    align-items: center;
}
header .content .sessionItems .imgUser{
    margin: 0 5px 0 25px;
    display: flex;
    align-items: center;
}
header .content .sessionItems .imgUser i{
    position: relative;
    padding: 10px;
}
header .content .sessionItems .imgUser i span{
    background-color: var(--colorRojo);
    color: #FFF;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .5em;
    width: 19px;
    height: 19px;
    border: 2px solid var(--color1);
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}
header .content .sessionItems .imgUser img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
}
header .content .sessionItems .imgUser img:hover{
    opacity: .7;
}
/*-----CARDS-------*/
.content section {
    margin-top: 2em;
}
.content section>a{
    text-decoration: none;
    
}
.content section>a>h2{
    margin: 1.5em 0;
    color: var(--colorDark);
    font-size: 2em;  
}.content section>h2{
    margin: 1.5em 0;
    color: var(--colorDark);
    font-size: 2em;  
}
.content .contentCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
}
.content section article{
    background-color: var(--colorBlanco); 
}
.content .contentCards article{
    margin-top: 20px;
}
article .contentImg{
    width: 100%;
    position: relative;
}
article .contentImg img{
    width: 100%;
}
article .contentImg img:hover{
    opacity: .7;
    cursor: pointer;
}
article .contentImg>span{
    background: var(--colorRojo);
    width: 5em;
    font-size: .6em;
    text-align: center;
    border-radius: 20px;
    padding: .5em 0;
    position: absolute;
    top: 1em;
    left: 1em;
}
article .contentImg>span:hover{
    color: var(--colorBlanco)
}
article .contentImg .ranking{
    position: absolute;
    top: .5em;
    right: 1em;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    padding: 0px 5px;
    border-radius: 20px;
}
article .contentImg .ranking i{
    color: #FFCA83;
    font-size: 1.3em;
}
article .contentImg .ranking span{
    color: var(--colorBlanco);
    font-size: 1.1em;
}
article .contentImg .rankingi:hover{
    cursor: pointer;
}
article .contentDescription{
    display: flex;
    justify-content: space-between;
    margin: 2em 1em;
    
}
article .contentDescription .descripProduct{
    margin: 0 1em;
}
article .contentDescription .descripProduct a{
    text-decoration: none;
    color: var(--colorDark);
}
article .contentDescription .descripProduct a h2{
    font-size: 1.3em;
}
article .contentDescription .descripProduct p{
    overflow: hidden;
    height: 1.5em;
    font-size: .7em;
    color: var(--color1);
    opacity: .5;
}
article .contentDescription span{
    color: var(--colorAzul);
    font-size: 1.4em;
}

/*------FOOTER-----*/
footer{
    margin-top: 2em;
    width: 100%;
    background-color: var(--color1);
}
footer .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15em;;
    padding: 15px 0;
}
/*footer .content .listFooter ul{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #3B86FF;
}*/

footer .content .listFooter h3{
    width: 100%;
    color: var(--colorBlanco);
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--bgColor);
    font-size: 1.2em;

}
footer .content .listFooter a{
    display: block;
    text-decoration: none;
    color: var(--colorBlanco);
    font-size: 1em;
}
footer .content .listFooter a:hover{
    color: var(--color2);
}
footer .content .listFooter li{
    list-style: none;  
}
footer .content .infoFooter{
    grid-column: span 3;
    margin-top: 15px;
    border-top: 1px solid var(--bgColor);
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: var(--colorBlanco);
    font-size: .7em;
}
/*-----buttons------*/
body button, input[type=button], input[type=submit]{
    padding: 10px 30px;
    border: none;
    background-color: var(--colorBtns);
    border-radius: 5px;
    color: #F0F0F7;
    font-size: 11pt;
}
body button:hover, input[type=button]:hover, input[type=submit]:hover{
    background-color: #838296;
    cursor: pointer;
}
body button:active, input[type=button]:active, input[type=submit]:active{
    background-color: #2F2E50;
}


body select{
    background: var(--colorBlanco);
    border: 1px solid #D7DAE2;
    padding: 10px 40px 10px 15px;
    border-radius: 5px;
    font-size: 11pt;
    background-image: url(../../global/img/down.png); 
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance:none;
}
body select::-ms-expand{
    display: none;
}
body select option {
    background-color: var(--colorBlanco);
    border: none;
}

/*-------FORMS-------*/
.form{
    background-color: #FFFFFF;
    text-align: center;
    width: 55%;
    margin: 25px auto;
}
.form form{
    display: flex;
    flex-direction: column;
    
    padding: 5em 10em;
}
.form form h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--colorBtns);
    font-size: 1.8em;
    margin-bottom: 15px;
}
.form form p{
    color: #4D4F5C;
    opacity: .5;
    font-size: .9em;
    margin-bottom: 50px;
}
.form form input{
    margin-bottom: 25px;
    padding: 10px 10px;
    border: none;
    border-bottom: 2px solid #E9E9F0; 
}

.form form input[type=checkbox]{
    border-radius: 6px;
}
.form form .remember label{
    margin-right: 16px;
    color: var(--colorBtns);
    font-size: .9em;
}
.form form .remember a{
    text-decoration: none;
    color: var(--colorAzul);
    font-size: .9em;
}
.form form .btns input{
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 15px;
}
.form form .btns input[type=button]{
    background: var(--colorBlanco);
    color: var(--colorBtns);
    border: 1px solid var(--colorBtns);
    margin-left: 15px;
    padding: 9px 40px;
    transition: all ease .5s;
}
.form form .btns input[type=button]:hover{
    border: transparent;
    color: var(--colorBlanco);
    background: var(--colorAzul);
}

body .headerImg{
    height: 6.5em;
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorBlanco);
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
body .headerImg h1{
    font-size: .9em;
    text-transform: uppercase;
}
body .headerImg .bg{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
body .headerImg.storeImg.storeGuayaqil{
    background-image: url("../../img/store/tienda1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
}
body .storeInf {
    display: flex;
    margin-top: 20px;
}
body .storeInf h3{
    color: var(--colorDark);
    margin: 15px 0;
    font-size: 1.5em;
}
body .storeInf .storeDescription{
    width: 50%;
}
body .storeInf .storeAbout p{
    text-align: justify;
    margin-top: 30px;
}
body .storeInf .storeContact{
    margin-top: 50px;
}
body .storeInf .storeContact p{
    opacity: .8;
    margin: 5px 0;
}
body .storeInf .storeContact p a{
    color: var(--colorAzul);
    text-decoration: none;
}
body .storeInf .storeContact p i{
    color: var(--color1);
    opacity: 1;
}
body .storeInf .storeContact p:nth-child(2){
    margin: 15px 0 40px 0;
    font-size: 1.2em;
    opacity: .7;
}
body .storeInf .storeMap{
    margin-left: 50px;
    width: 50%;
    height: 450px;
}
body .storeInf .storeMap #map{
    height: 100%;
    width: 100%;
}

body .headerImg.storeImg.storeQuito{
    background-image: url("../../img/store/tienda2.jpg");
}
body .headerImg.storeImg.storeCuenca{
    background-image: url("../../img/store/tienda3.jpg");
}
body .headerImg.storeImg.storeIndex{
    background-image: url("../../img/store/apple_logo_10-wallpaper-7680x4800.jpg");
    background-attachment: scroll;
}
body .headerImg.pageError{
    background-color: var(--bgColor);
    flex-direction: column;
}
body .headerImg.pageError h2{
    color: var(--colorRojo);
    opacity: .4;
    font-size: 3em;
    font-weight: 900;
}
body .headerImg.pageError p{
    color: var(--colorDark);
    opacity: .5;
    font-size: .3em;
}
#floatWindow{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all ease 1s;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}
#floatWindow .contentMap{
    width: 80%;
    height: 500px;
}
#floatWindow #map{
    width: 100%;
    height: 100%;
    background-color: var(--bgColor);
    
}
#floatWindow i {
    color: var(--bgColor);
    font-size: 1.6em;
    float: right;
    z-index: 300;
}
#floatWindow i:hover{
    color: var(--colorRojo);
    cursor: pointer;
}

#floatWindow .contentWindow{
    background-color: var(--bgColor);
    position: relative;
}
#floatWindow .contentWindow i{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--colorAzul);
}
#floatWindow .contentWindow i:hover{
    color: var(--colorRojo);
}

body .pageSuccess .contentSucce{
    width: 40%;
    height: 400px;
    background-color: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
body .pageSuccess .contentSucce h2{
    font-size: .4em;
    color: var(--colorDark);
    opacity: .6;
    text-align: center;
}
body .pageSuccess .contentSucce p{
    font-size: .2em;
}
body .pageSuccess .contentSucce i{ 
    opacity: .5;
}
body .pageSuccess .contentSucce i.fa-check-circle{
    color: #69E4A6;
}
body .pageSuccess .contentSucce i.fa-times-circle{
    color: var(--colorRojo);
}
