<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../../../public/css/globalStyle.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>


    <title>Tienda Quito</title>
</head>

<body>
    <header>
        <div class="content">
            <a href="#"><i class="fab fa-apple"></i></a>
            <nav class="menu">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li> <span>Productos</span>
                        <ul>
                            <li><a href="#">Mac</a></li>
                            <li><a href="#">iPad</a></li>
                            <li><a href="#">iPhone</a></li>
                            <li><a href="#">Watch</a></li>
                            <li><a href="#">TV</a></li>
                            <li><a href="#">Musica</a></li>
                            <li><a href="#">Accesorios</a></li>
                        </ul>
                    </li>
                    <li> <span>Donde Comprar</span>
                        <ul>
                            <li><a href="#">Quito</a></li>
                            <li><a href="#">Guayaquil</a></li>
                            <li><a href="#">Cuenca</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="search">
                <div class="barSearch">
                    <input type="search" name="search" id="search" placeholder="Buscar">
                    <i class="fas fa-search"></i>
                </div>
                <a href="#">Buscar</a>
            </div>
            <div class="buyCar itemsUser">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="sessionItems">
                <!-- <a href="#">Iniciar Sesión</a>
                <a href="#">Registrarse</a>-->
                <i class="far fa-heart"></i>
                <div class="imgUser">
                    <img src="../../../img/user/perfil.jpg" alt="user">
                </div>
                <span>Richard Torres</span>
            </div>
        </div>
    </header>

    <section>
        <div class="headerImg storeImg storeGuayaqil storeQuito">
            <div class="bg">
                <h1>Apple store quito</h1>
            </div>
        </div>

        <div class="content storeInf">
            <div class="storeDescription">
                <div class="storeAbout">
                    <h3>Acerca de nosostros</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.Quibusdam dolore cumque
                        inventore,dignissimos excepturi, voluptates consequatur ea illum aut officiis,quas iusto dolores
                        mollitia tenetur. </p>
                </div>
                <div class="storeContact">
                    <h3>Horarios de atencion</h3>
                    <p>Lunes a Viernes de 8:00 a 16:00</p>
                    <p><i class="fas fa-phone"></i> 0989420495</p>
                    <p><i class="fas fa-tty"></i> (07)2255887</p>
                    <p><i class="fas fa-at"></i> <a
                            href="mailto:aplestoreguayaquil@aple.com">applestoreguayaquil@apple.com</a></p>
                    <p><i class="fas fa-map-marker-alt"></i> Av.Juan Tamariz y 3 de Octubre</p>
                </div>
            </div>
            <div class="storeMap">
                <div id="map"></div>
            </div>
        </div>
    </section>

    <script src="../js/map.js"></script>
    <script>
        navigator.geolocation.getCurrentPosition(fn_ok, fn_mal);
        function fn_mal() { }

        function fn_ok(rta) {

            lat = rta.coords.latitude;
            long = rta.coords.longitude;

            //loadMap(lat, long, -2.91900, -79.01455)
            loadMap(lat, long, -0.17753, -78.48483, 10, 'Quito', 'Centro Comercial Iñaquito (CCI)')
        }
    </script>

    <footer>
        <div class="content">
            <div class="listFooter">
                <h3>Productos</h3>
                <ul>
                    <li><a href="#">Mac</a></li>
                    <li><a href="#">iPad</a></li>
                    <li><a href="#">iPhone</a></li>
                    <li><a href="#">Watch</a></li>
                    <li><a href="#">TV</a></li>
                    <li><a href="#">Musica</a></li>
                    <li><a href="#">Accesorios</a></li>
                </ul>
            </div>
            <div class="listFooter">
                <h3>Tiendas</h3>
                <ul>
                    <li><a href="#">Quito</a></li>
                    <li><a href="#">Guayaquil</a></li>
                    <li><a href="#">Cuenca</a></li>
                </ul>
            </div>
            <div class="listFooter">
                <h3>Desarrolladores</h3>
                <ul>
                    <li><a href="#">Henry Guaman</a></li>
                    <li><a href="#">Claudio Maldonado</a></li>
                    <li><a href="#">Jonnathan Ochoa</a></li>
                    <li><a href="#">Pedro Ortiz</a></li>
                    <li><a href="#">Yandry Romero</a></li>
                </ul>
            </div>
            <div class="infoFooter">
                <p>Copyright &copy; 2019 Todos los derechos reservados</p>
                <p>Designed by Group 5</p>
            </div>
        </div>
    </footer>

</body>

</html>
</body>

</html>