*{
    --color1: #3B3B53;
    --color2: #A3A0FB;
    --colorBlanco:#FFFFFF;
    --colorRojo: #FF6565;
    --colorAzul:#3B86FF;
    --bgColor:#F0F0F7;
    --colorDark:#4D4F5C;
    --colorBtns:#43425D;
}
footer{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 220px 1fr;
    height: 100%;
    margin-bottom: -32px;
    margin-top: -62px;
}
/*-----------HEADER----------------*/
#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color: var(--colorBlanco);
    color:var(--colorDark);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color: var(--color2);
    color:var(--colorDark);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.container header{
    background-color: var(--color1);
}

.container header .perfil{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.5% 0;
    border-bottom: 1px solid var(--color2);
}
.container header .perfil .img{
    width: 110px;
    height: 110px;
    margin-bottom: 5px;
}
.container header .perfil .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.container header .perfil h2{
    text-transform: uppercase;
    color: var(--color1);
    font-size: 1.1em;
}
.container header nav{
    margin: 25px 0 143% 0;
}
.container header nav ul li a{
    width: 100%;
    height: 100%;
    color: var(--colorBlanco);
    font-size: .9em;
    padding: 17px 15px;
}
.container header nav ul li a i{
    font-size: .9em;
    color: var(--colorBlanco);
    margin-right: 5px;
}
.container header nav ul li{
    position: relative;
}
.container header nav ul li::before{ 
    content: "";
    border: 2.5px solid var(--color2);
    height: 91%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.container header nav ul li:hover{
    background-color: var(--colorBtns);
    color: var(--colorBtns);
}
.container header nav ul li:hover:before{
    display: block;
}
.container section{
    padding: 14.25%;
}

/*-------------SECTION---------------*/
.container section>h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color1);
    margin-bottom: 15px;
    font-weight: 700;
}
.container section .cardContent{
    background-color: var(--colorBlanco);
    padding: 15px;
}
.container section .cardContent h2{
    color: var(--color1);
    margin-bottom: 15px;
    font-weight: 600;
}
.container section .cardContent .formData{
    display: flex;
}
.container section .cardContent .formData form{
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-row-gap: 15px;
    align-items: center;
    width: 65%;
    margin-right: 15px;

}
.container section .cardContent label{
    font-weight: 600;
    color: var(--colorBtns);
    text-align: right;
    margin-right: 10px;
}
.container section .cardContent .formData form input{
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid var(--color1);
    font-weight: normal;
    color: var(--colorBtns);
}
.container section .cardContent .formData form #save{
    color: var(--colorRojo);
}
.container section .cardContent .formData form input[type=submit]{
    color: var(--colorBlanco);
    border: none;
}
.container section .cardContent .formData .perfilImg{
    width: 35%;
}
.container section .cardContent .formData .perfilImg .img{
    width: 100%;
    height: 40%;
    margin-bottom: 15px;
}
.container section .cardContent .formData .perfilImg .img img{
    width: 100%;
    height: 100%;
}
.container section .cardContent .formData .perfilImg label{
    margin-bottom: 15px;
    display: inline-block;
    text-align: left;
}
.container section .cardContent .formData .perfilImg input{
    width: 100%;
}

/*---------TABLE--------------*/
.container section .cardContent article table {
    background-color: var(--colorBlanco);
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.container section .cardContent article table thead{
    background-color: #F5F6FA;    
}
.container section .cardContent article table thead tr td{
    color: #A3A6B4;
    font-weight: 600;
    text-transform: uppercase;
    font-size: .9em;
}
.container section .cardContent article table td{
    border: 1px solid var(--bgColor);
    padding: 3px 2px;
}
.container section .cardContent article table thead th:first-child {
    border-left: none;
} 
.container section .cardContent article table thead select{
    padding: 5px 35px 5px 10px;
    border: none;
    color: #A3A6B4;
}
.container section .cardContent article table tbody tr td{
    font-weight: normal;
    color: var(--colorBtns);
    text-align: left;
}
/* .container section .cardContent article table tbody tr .db_null{
    color: #A40808;
    font-weight: 700;
    padding: 20px 0;
}
.container section .cardContent article table tbody tr .db_null i{
    font-size: 3em;
    margin-top: 5px;
} */
.container section .cardContent article table tbody tr td{
    padding: 10px 5px;
    
}
.container section .cardContent article table tbody tr td a{
    text-decoration: none;
    color: var(--colorBtns);
    cursor: pointer;
    text-align: center;
}
.container section .cardContent article table tbody tr td a:hover{
    color: var(--colorAzul);
}
.container section .cardContent article table tbody span{
    /* 
    background-color: #FFCA83; Pendiente
    background-color: #FF7285; Cancelado
    background-color: #69E4A6; Enviado
     */
    background-color: #FFCA83;
    color: #000;
    opacity: .5;
    display: inline-block;
    border-radius: 20px;
    padding: 2px 10px;
}
.container section .cardContent article table tbody span:hover{
    cursor: text;
}
.container section .cardContent article table tr:nth-child(even) {
    background: var(--bgColor);
}

.container section .cardContent article table tfoot {
    color: #FFFFFF;
    background: #F5F6FA;
}
.container section .cardContent article table tfoot .links {
    text-align: right;
}
.container section .cardContent article table tfoot .links a i{
    color: var(--colorBtns);
}
.container section .cardContent article table tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: var(--colorBtns);
    padding: 2px 8px;
    border-radius: 5px;
    text-decoration: none;
}
.container section .cardContent article table tfoot .links a:hover{
    color: var(--colorBlanco);
    background: var(--colorAzul);
}
.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings .updatePass,.deleteAccount{
    padding: 15px;
    border: 1px solid var(--bgColor);
    margin-bottom: 20px;
    width: 70%;
}
.settings .formData{
    width: 100%;
    padding: 15px;
}
.settings .formData form{
    width: 100% !important;
}
.settings .formData form input[type=submit]{
    grid-column: 2/3;
    margin-top: 15px;
}
.settings .deleteAccount .formData form input[type=submit]{
    background-color: var(--colorRojo);
}
.settings .deleteAccount .formData form input[type=submit]:hover{
    background-color: #FB98A6;
}
.settings .deleteAccount .formData form input[type=submit]:active{
    background-color: #FF7285;
}
/*----------------------MESSAGES-----------------*/
.cardContent .messageContainer{
    margin-top: 10px;
    padding: 10px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 42% 1fr;  
}
.cardContent .messageContainer .messages{
    border-right: 1px solid var(--bgColor);
    overflow: scroll;
    position: relative;
}
.cardContent .messageContainer .messages a{
    display: block;
    text-decoration: none;
    color: var(--colorBtns);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--bgColor);
    height: 17%;
    position: relative;
}
.cardContent .messageContainer .messages a:hover{
    background-color: var(--bgColor);
}
.cardContent .messageContainer .messages a img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-row: 1/3;
    margin: 0 auto;
}
.cardContent .messageContainer .messages a p{
    display: flex;
    align-items: center;
    font-size: .8em;
    overflow: hidden;
}
.cardContent .messageContainer .messages a::before{
    content: "";
    /* 
    #FF7285; Recibido
    #69E4A6; Enviado
     */
    border: 2.5px solid #69E4A6;;
    height: 95%;
    position: absolute;
    left: 0;
    top: 0;
}
.cardContent .messageContainer .messages a:first-child:before{
    display: none;
}
.cardContent .messageContainer .messages a p:last-child{
    display: block;
    grid-column: 2/4;
    grid-row: 2/3;
    height: 1em;
    font-size: .9em;
    overflow: hidden;
}
/* .cardContent .messageContainer .messages a p:first-line{
    color: #69E4A6;
} */
.cardContent .messageContainer p span{
    font-size: .9em;
    /* 
    color: #FF7285; Recibido
    color: #69E4A6; Enviado
     */
    color: #69E4A6;
}
.cardContent .messageContainer p span:hover{
    cursor: text;
}
.cardContent .messageContainer h3{
    font-weight: 700;
    font-size: 1em;
}
.cardContent .messageContainer .messages .search{
    position: relative;
    height: 50px;
    width: 100%;
}
.cardContent .messageContainer .messages .search i{
    color: var(--colorBtns);
    position: absolute;
    font-size: 1.5em;
}
.cardContent .messageContainer .messages .search input{
    grid-column: 1/4;
    padding: 20px 40px;
    border: none;
}
.cardContent .messageContainer .messageContent{
    padding: 15px;
}
.cardContent .messageContainer .messageContent .messageHeader{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 2fr;
    border-bottom: 1px solid var(--bgColor);
    padding: 10px;
}
.cardContent .messageContainer .messageContent .messageHeader h2{
    font-size: 1.3em;
    grid-column: 1/4;
}
.cardContent .messageContainer .messageContent .messageHeader img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-row: 2/3;
    margin: 0 auto;
}
.cardContent .messageContainer .messageContent .messageHeader p:nth-child(4){
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: .9em;
    color: var(--colorBtns);
}
.cardContent .messageContainer .messageContent .messageHeader div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-row: 2/4;
}
.cardContent .messageContainer .messageContent .messageHeader div h3{
    color: var(--colorBtns);
}
.cardContent .messageContainer .messageContent .messageHeader div p{
    color: #808495;
    font-size: .9em;
    margin-top: 4px;
}
.cardContent .messageContainer .messageContent .messageBody{
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    text-align: justify;
    color: var(--colorBtns);
}
.messageReply{
    background-color: #F5F6FA;
    width: 100%;
    height: 7em;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.messageReply button i{
    color: var(--colorBtns);
}
.messageReply button:first-child{
    background-color: var(--colorBlanco);
    border: 1px solid #D7DAE2;
    color: var(--colorBtns);
    margin-right: 10px;
}
.messageReply button:first-child:hover{
    background: var(--bgColor);
}
.messageReply button:first-child:active{
    background: var(--colorBlanco);
    border: 1px solid #69E4A6;
}
.messageReply button:last-child{
    background-color: #FF7285;
    color: var(--colorBtns);
}
.messageReply button:last-child:hover{
    background-color: #FB98A6;
}
.messageReply button:last-child:active{
    background-color: #FF7285;
}

/*------------SEND MESSAGE-------------*/
.sendMessage{
    width: 75%;
    margin: 0 auto;
}
.sendMessage .formData form textarea{
    resize: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}
.sendMessage .formData form .messageReply{
    grid-column: 2/3;
}
.sendMessage .formData form .messageReply button:first-child{
    background-color: #69E4A6;
    border: none;
}
.sendMessage .formData form .messageReply button:first-child:hover{
    background-color: #90F1C0;
}
.sendMessage .formData form .messageReply button:first-child:active{
    background-color: #59E854;
}
/*---------------INVOICE-------------------------*/
.invoice .invoiceHeader, .ivoiceBodyDetall{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.invoice p{
    color: var(--colorBtns);
    font-size: .9em;
    opacity: .6;
    display: flex;
    align-items: center;
}
.invoice h2,h3{
    color: var(--color1);
}
.invoice span{
    color: var(--colorBtns);
    opacity: .6;
}
.invoice span:hover{
    color: var(--colorBtns);
    cursor: text;
}
.invoice .ivoiceBodyDetall h3{
    margin-bottom: 5px;
}
.invoice .ivoiceBodyDetall .invoiceDetailStatus p span{
    font-weight: 600;
    opacity:.9;
    font-size: 1em;
    font-weight: 700;
    color: var(--color1);
}
.invoice .ivoiceBodyDetall .invoiceDetailStatus p .status{
    background-color: #FFCA83;
    font-size: .9em;
    font-weight: normal;
    border-radius: 20px;
    padding: 3px 10px;
}
.invoice .invoiceFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
}
.invoice .invoiceFooter p{
    font-size: 1em;
}
.invoice .invoiceFooter p span{
    font-size: 1.2em;
    font-weight: 700;
    color: var(--color1);
    opacity: .9;
}
.invoice table tbody tr td a{
    display: flex;
    align-items: center;
}
.invoice table tbody tr td a>p{
    color: var(--colorBtns);
}
.invoice table tbody tr td img{
    width: 50px;
    height: 50px;
    margin-right: 3px;
}


.invoice .invoiceFooter button:last-child{
    background-color: #FF7285;
    color: var(--colorBtns);
}
.invoice .invoiceFooter button:last-child:hover{
    background-color: #FB98A6;
}
.invoice .invoiceFooter button:last-child:active{
    background-color: #FF7285;
}