<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../../../public/css/globalStyle.css">
    <title>Enviar mensaje</title>
</head>

<body>
    <header>
        <div class="content">
            <a href="#"><i class="fab fa-apple"></i></a>
            <nav class="menu">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li> <span>Productos</span>
                        <ul>
                            <li><a href="#">Mac</a></li>
                            <li><a href="#">iPad</a></li>
                            <li><a href="#">iPhone</a></li>
                            <li><a href="#">Watch</a></li>
                            <li><a href="#">TV</a></li>
                            <li><a href="#">Musica</a></li>
                            <li><a href="#">Accesorios</a></li>
                        </ul>
                    </li>
                    <li> <span>Donde Comprar</span>
                        <ul>
                            <li><a href="#">Quito</a></li>
                            <li><a href="#">Guayaquil</a></li>
                            <li><a href="#">Cuenca</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="search">
                <div class="barSearch">
                    <input type="search" name="search" id="search" placeholder="Buscar">
                    <i class="fas fa-search"></i>
                </div>
                <a href="#">Buscar</a>
            </div>
            <div class="buyCar itemsUser">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <div class="sessionItems">
                <!-- <a href="#">Iniciar Sesión</a>
                <a href="#">Registrarse</a>-->
                <i class="far fa-heart"></i>
                <div class="imgUser">
                    <img src="../../../img/user/perfil.jpg" alt="user">
                </div>
                <span>Richard Torres</span>
            </div>
        </div>
    </header>

    <div class="container">
        <header>
            <div class="perfil">
                <div class="img">
                    <img src="../../../img/user/perfil.jpg" alt="">
                </div>
                <h2>Richard Torres</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html"><i class="fas fa-user"></i> Perfil</a></li>
                    <li><a href="#"><i class="fas fa-history"></i> Historial de compras</a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i> Carrito de compras</a></li>
                    <li><a href="#"><i class="far fa-heart"></i> Favoritos</a></li>
                    <li><a href="#"><i class="fas fa-cog"></i> Opciones</a></li>
                    <li><a href="#"><i class="fas fa-envelope-open-text"></i> Mensajes</a></li>
                    <li><a href="#"><i class="far fa-life-ring"></i> Ayuda</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h2>Mensajes</h2>
            <div class="cardContent">
                <div class="btnsOptions">
                    <button>Mostrar todo</button>
                    <button>Mensajes enviados</button>
                    <button>Mensajes recibidos</button>
                    <button>Nuevo mensaje</button>
                </div>
                <div class="settings sendMessage">
                    <div class="formData">
                        <form method="">
                            <label for="destino">Destino:</label>
                            <input type="email" name="destino" id="destino" required>
                            <label for="asunto">Aesunto:</label>
                            <input type="text" name="asunto" id="asunto">
                            <label for="contenido">Mensaje:</label>
                            <textarea name="contenido" id="contenido" cols="40" rows="10"></textarea>

                            <div class="messageReply">
                                <button>Enviar</button>
                                <button>Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    </section> 
    </div>

    <footer>
        <div class="content">
            <div class="listFooter">
                <h3>Productos</h3>
                <ul>
                    <li><a href="#">Mac</a></li>
                    <li><a href="#">iPad</a></li>
                    <li><a href="#">iPhone</a></li>
                    <li><a href="#">Watch</a></li>
                    <li><a href="#">TV</a></li>
                    <li><a href="#">Musica</a></li>
                    <li><a href="#">Accesorios</a></li>
                </ul>
            </div>
            <div class="listFooter">
                <h3>Tiendas</h3>
                <ul>
                    <li><a href="#">Quito</a></li>
                    <li><a href="#">Guayaquil</a></li>
                    <li><a href="#">Cuenca</a></li>
                </ul>
            </div>
            <div class="listFooter">
                <h3>Desarrolladores</h3>
                <ul>
                    <li><a href="#">Henry Guaman</a></li>
                    <li><a href="#">Claudio Maldonado</a></li>
                    <li><a href="#">Jonnathan Ochoa</a></li>
                    <li><a href="#">Pedro Ortiz</a></li>
                    <li><a href="#">Yandry Romero</a></li>
                </ul>
            </div>
            <div class="infoFooter">
                <p>Copyright &copy; 2019 Todos los derechos reservados</p>
                <p>Designed by Group 5</p>
            </div>
        </div>
    </footer>

</body>

</html>